{% extends 'base.html.twig' %}


{% block body %}



    <main class="bach">
      <h1>Choisir mon émotion</h1>
            <section class="selectEmotions">
                {{ form(form.emotion) }}

            </section>

        <section id="results">
            {% if emotions is defined %}
                {% for emotion in emotions %}
                    <h2> {{ bach.emotion }}</h2>
                    <p> {{ bach.positive }} {{ bach.negative }}</p>
                {% endfor %}
            {% endif %}

        </section>






    </main>


{% endblock %}